.bgc-red-t2, .bgca-red-t2 {background-color: hsla(0,33%,26%,0.2); color:#e0e0e0;}
.bgch-red-t2:hover, .bgca-red-t2:hover {background-color: hsla(0,33%,36%,0.2); color:#f0f0f0;}
.bgc-org-t2, .bgca-org-t2 {background-color: hsla(30,33%,26%,0.2); color:#e0e0e0;}
.bgch-org-t2:hover, .bgca-org-t2:hover {background-color: hsla(30,33%,36%,0.2); color:#f0f0f0;}
.bgc-yel-t2, .bgca-yel-t2 {background-color: hsla(60,33%,26%,0.2); color:#e0e0e0;}
.bgch-yel-t2:hover, .bgca-yel-t2:hover {background-color: hsla(60,33%,36%,0.2); color:#f0f0f0;}
.bgc-cha-t2, .bgca-cha-t2 {background-color: hsla(90,33%,26%,0.2); color:#e0e0e0;}
.bgch-cha-t2:hover, .bgca-cha-t2:hover {background-color: hsla(90,33%,36%,0.2); color:#f0f0f0;}
.bgc-grn-t2, .bgca-grn-t2 {background-color: hsla(120,33%,26%,0.2); color:#e0e0e0;}
.bgch-grn-t2:hover, .bgca-grn-t2:hover {background-color: hsla(120,33%,36%,0.2); color:#f0f0f0;}
.bgc-spr-t2, .bgca-spr-t2 {background-color: hsla(150,33%,26%,0.2); color:#e0e0e0;}
.bgch-spr-t2:hover, .bgca-spr-t2:hover {background-color: hsla(150,33%,36%,0.2); color:#f0f0f0;}
.bgc-cyn-t2, .bgca-cyn-t2 {background-color: hsla(180,33%,26%,0.2); color:#e0e0e0;}
.bgch-cyn-t2:hover, .bgca-cyn-t2:hover {background-color: hsla(180,33%,36%,0.2); color:#f0f0f0;}
.bgc-azu-t2, .bgca-azu-t2 {background-color: hsla(210,33%,26%,0.2); color:#e0e0e0;}
.bgch-azu-t2:hover, .bgca-azu-t2:hover {background-color: hsla(210,33%,36%,0.2); color:#f0f0f0;}
.bgc-blu-t2, .bgca-blu-t2 {background-color: hsla(240,33%,26%,0.2); color:#e0e0e0;}
.bgch-blu-t2:hover, .bgca-blu-t2:hover {background-color: hsla(240,33%,36%,0.2); color:#f0f0f0;}
.bgc-vio-t2, .bgca-vio-t2 {background-color: hsla(270,33%,26%,0.2); color:#e0e0e0;}
.bgch-vio-t2:hover, .bgca-vio-t2:hover {background-color: hsla(270,33%,36%,0.2); color:#f0f0f0;}
.bgc-mag-t2, .bgca-mag-t2 {background-color: hsla(300,33%,26%,0.2); color:#e0e0e0;}
.bgch-mag-t2:hover, .bgca-mag-t2:hover {background-color: hsla(300,33%,36%,0.2); color:#f0f0f0;}
.bgc-ros-t2, .bgca-ros-t2 {background-color: hsla(330,33%,26%,0.2); color:#e0e0e0;}
.bgch-ros-t2:hover, .bgca-ros-t2:hover {background-color: hsla(330,33%,36%,0.2); color:#f0f0f0;}

.bgc-whi-t2, .bgca-whi-t2 {background-color: hsla(0,0%,100%,0.2); color: #101010;}
.bgc-gry90-t2, .bgca-gry90-t2 {background-color: hsla(0,0%,90%,0.2); color:#101010;}
.bgc-gry80-t2, .bgca-gry80-t2 {background-color: hsla(0,0%,80%,0.2); color:#101010;}
.bgc-gry70-t2, .bgca-gry70-t2 {background-color: hsla(0,0%,78%,0.2); color:#101010;}
.bgc-gry60-t2, .bgca-gry60-t2 {background-color: hsla(0,0%,60%,0.2); color:#101010;}
.bgc-gry50-t2, .bgca-gry50-t2 {background-color: hsla(0,0%,50%,0.2); color:#101010;}
.bgc-gry40-t2, .bgca-gry40-t2 {background-color: hsla(0,0%,40%,0.2); color:#f0f0f0;}
.bgc-gry30-t2, .bgca-gry30-t2 {background-color: hsla(0,0%,30%,0.2); color:#f0f0f0;}
.bgc-gry20-t2, .bgca-gry20-t2 {background-color: hsla(0,0%,20%,0.2); color:#f0f0f0;}
.bgc-gry10-t2, .bgca-gry10-t2 {background-color: hsla(0,0%,10%,0.2); color:#f0f0f0;}
.bgc-blk-t2, .bgca-blk-t2 {background-color: hsla(0,0%,0%,0.2); color:#f0f0f0;}

.bgc-red-t4, .bgca-red-t4 {background-color: hsla(0,33%,26%,0.4); color:#e0e0e0;}
.bgch-red-t4:hover, .bgca-red-t4:hover {background-color: hsla(0,33%,36%,0.4); color:#f0f0f0;}
.bgc-org-t4, .bgca-org-t4 {background-color: hsla(30,33%,26%,0.4); color:#e0e0e0;}
.bgch-org-t4:hover, .bgca-org-t4:hover {background-color: hsla(30,33%,36%,0.4); color:#f0f0f0;}
.bgc-yel-t4, .bgca-yel-t4 {background-color: hsla(60,33%,26%,0.4); color:#e0e0e0;}
.bgch-yel-t4:hover, .bgca-yel-t4:hover {background-color: hsla(60,33%,36%,0.4); color:#f0f0f0;}
.bgc-cha-t4, .bgca-cha-t4 {background-color: hsla(90,33%,26%,0.4); color:#e0e0e0;}
.bgch-cha-t4:hover, .bgca-cha-t4:hover {background-color: hsla(90,33%,36%,0.4); color:#f0f0f0;}
.bgc-grn-t4, .bgca-grn-t4 {background-color: hsla(120,33%,26%,0.4); color:#e0e0e0;}
.bgch-grn-t4:hover, .bgca-grn-t4:hover {background-color: hsla(120,33%,36%,0.4); color:#f0f0f0;}
.bgc-spr-t4, .bgca-spr-t4 {background-color: hsla(150,33%,26%,0.4); color:#e0e0e0;}
.bgch-spr-t4:hover, .bgca-spr-t4:hover {background-color: hsla(150,33%,36%,0.4); color:#f0f0f0;}
.bgc-cyn-t4, .bgca-cyn-t4 {background-color: hsla(180,33%,26%,0.4); color:#e0e0e0;}
.bgch-cyn-t4:hover, .bgca-cyn-t4:hover {background-color: hsla(180,33%,36%,0.4); color:#f0f0f0;}
.bgc-azu-t4, .bgca-azu-t4 {background-color: hsla(210,33%,26%,0.4); color:#e0e0e0;}
.bgch-azu-t4:hover, .bgca-azu-t4:hover {background-color: hsla(210,33%,36%,0.4); color:#f0f0f0;}
.bgc-blu-t4, .bgca-blu-t4 {background-color: hsla(240,33%,26%,0.4); color:#e0e0e0;}
.bgch-blu-t4:hover, .bgca-blu-t4:hover {background-color: hsla(240,33%,36%,0.4); color:#f0f0f0;}
.bgc-vio-t4, .bgca-vio-t4 {background-color: hsla(270,33%,26%,0.4); color:#e0e0e0;}
.bgch-vio-t4:hover, .bgca-vio-t4:hover {background-color: hsla(270,33%,36%,0.4); color:#f0f0f0;}
.bgc-mag-t4, .bgca-mag-t4 {background-color: hsla(300,33%,26%,0.4); color:#e0e0e0;}
.bgch-mag-t4:hover, .bgca-mag-t4:hover {background-color: hsla(300,33%,36%,0.4); color:#f0f0f0;}
.bgc-ros-t4, .bgca-ros-t4 {background-color: hsla(330,33%,26%,0.4); color:#e0e0e0;}
.bgch-ros-t4:hover, .bgca-ros-t4:hover {background-color: hsla(330,33%,36%,0.4); color:#f0f0f0;}

.bgc-whi-t4, .bgca-whi-t4 {background-color: hsla(0,0%,100%,0.4); color: #101010;}
.bgc-gry90-t4, .bgca-gry90-t4 {background-color: hsla(0,0%,90%,0.4); color:#101010;}
.bgc-gry80-t4, .bgca-gry80-t4 {background-color: hsla(0,0%,80%,0.4); color:#101010;}
.bgc-gry70-t4, .bgca-gry70-t4 {background-color: hsla(0,0%,78%,0.4); color:#101010;}
.bgc-gry60-t4, .bgca-gry60-t4 {background-color: hsla(0,0%,60%,0.4); color:#101010;}
.bgc-gry50-t4, .bgca-gry50-t4 {background-color: hsla(0,0%,50%,0.4); color:#101010;}
.bgc-gry40-t4, .bgca-gry40-t4 {background-color: hsla(0,0%,40%,0.4); color:#f0f0f0;}
.bgc-gry30-t4, .bgca-gry30-t4 {background-color: hsla(0,0%,30%,0.4); color:#f0f0f0;}
.bgc-gry20-t4, .bgca-gry20-t4 {background-color: hsla(0,0%,20%,0.4); color:#f0f0f0;}
.bgc-gry10-t4, .bgca-gry10-t4 {background-color: hsla(0,0%,10%,0.4); color:#f0f0f0;}
.bgc-blk-t4, .bgca-blk-t4 {background-color: hsla(0,0%,0%,0.4); color:#f0f0f0;}

.bgc-red-t6, .bgca-red-t6 {background-color: hsla(0,33%,26%,0.6); color:#e0e0e0;}
.bgch-red-t6:hover, .bgca-red-t6:hover {background-color: hsla(0,33%,36%,0.6); color:#f0f0f0;}
.bgc-org-t6, .bgca-org-t6 {background-color: hsla(30,33%,26%,0.6); color:#e0e0e0;}
.bgch-org-t6:hover, .bgca-org-t6:hover {background-color: hsla(30,33%,36%,0.6); color:#f0f0f0;}
.bgc-yel-t6, .bgca-yel-t6 {background-color: hsla(60,33%,26%,0.6); color:#e0e0e0;}
.bgch-yel-t6:hover, .bgca-yel-t6:hover {background-color: hsla(60,33%,36%,0.6); color:#f0f0f0;}
.bgc-cha-t6, .bgca-cha-t6 {background-color: hsla(90,33%,26%,0.6); color:#e0e0e0;}
.bgch-cha-t6:hover, .bgca-cha-t6:hover {background-color: hsla(90,33%,36%,0.6); color:#f0f0f0;}
.bgc-grn-t6, .bgca-grn-t6 {background-color: hsla(120,33%,26%,0.6); color:#e0e0e0;}
.bgch-grn-t6:hover, .bgca-grn-t6:hover {background-color: hsla(120,33%,36%,0.6); color:#f0f0f0;}
.bgc-spr-t6, .bgca-spr-t6 {background-color: hsla(150,33%,26%,0.6); color:#e0e0e0;}
.bgch-spr-t6:hover, .bgca-spr-t6:hover {background-color: hsla(150,33%,36%,0.6); color:#f0f0f0;}
.bgc-cyn-t6, .bgca-cyn-t6 {background-color: hsla(180,33%,26%,0.6); color:#e0e0e0;}
.bgch-cyn-t6:hover, .bgca-cyn-t6:hover {background-color: hsla(180,33%,36%,0.6); color:#f0f0f0;}
.bgc-azu-t6, .bgca-azu-t6 {background-color: hsla(210,33%,26%,0.6); color:#e0e0e0;}
.bgch-azu-t6:hover, .bgca-azu-t6:hover {background-color: hsla(210,33%,36%,0.6); color:#f0f0f0;}
.bgc-blu-t6, .bgca-blu-t6 {background-color: hsla(240,33%,26%,0.6); color:#e0e0e0;}
.bgch-blu-t6:hover, .bgca-blu-t6:hover {background-color: hsla(240,33%,36%,0.6); color:#f0f0f0;}
.bgc-vio-t6, .bgca-vio-t6 {background-color: hsla(270,33%,26%,0.6); color:#e0e0e0;}
.bgch-vio-t6:hover, .bgca-vio-t6:hover {background-color: hsla(270,33%,36%,0.6); color:#f0f0f0;}
.bgc-mag-t6, .bgca-mag-t6 {background-color: hsla(300,33%,26%,0.6); color:#e0e0e0;}
.bgch-mag-t6:hover, .bgca-mag-t6:hover {background-color: hsla(300,33%,36%,0.6); color:#f0f0f0;}
.bgc-ros-t6, .bgca-ros-t6 {background-color: hsla(330,33%,26%,0.6); color:#e0e0e0;}
.bgch-ros-t6:hover, .bgca-ros-t6:hover {background-color: hsla(330,33%,36%,0.6); color:#f0f0f0;}

.bgc-whi-t6, .bgca-whi-t6 {background-color: hsla(0,0%,100%,0.6); color: #101010;}
.bgc-gry90-t6, .bgca-gry90-t6 {background-color: hsla(0,0%,90%,0.6); color:#101010;}
.bgc-gry80-t6, .bgca-gry80-t6 {background-color: hsla(0,0%,80%,0.6); color:#101010;}
.bgc-gry70-t6, .bgca-gry70-t6 {background-color: hsla(0,0%,78%,0.6); color:#101010;}
.bgc-gry60-t6, .bgca-gry60-t6 {background-color: hsla(0,0%,60%,0.6); color:#101010;}
.bgc-gry50-t6, .bgca-gry50-t6 {background-color: hsla(0,0%,50%,0.6); color:#101010;}
.bgc-gry40-t6, .bgca-gry40-t6 {background-color: hsla(0,0%,40%,0.6); color:#f0f0f0;}
.bgc-gry30-t6, .bgca-gry30-t6 {background-color: hsla(0,0%,30%,0.6); color:#f0f0f0;}
.bgc-gry20-t6, .bgca-gry20-t6 {background-color: hsla(0,0%,20%,0.6); color:#f0f0f0;}
.bgc-gry10-t6, .bgca-gry10-t6 {background-color: hsla(0,0%,10%,0.6); color:#f0f0f0;}
.bgc-blk-t6, .bgca-blk-t6 {background-color: hsla(0,0%,0%,0.6); color:#f0f0f0;}


.bgc-red-t8, .bgca-red-t8 {background-color: hsla(0,33%,26%,0.8); color:#e0e0e0;}
.bgch-red-t8:hover, .bgca-red-t8:hover {background-color: hsla(0,33%,36%,0.8); color:#f0f0f0;}
.bgc-org-t8, .bgca-org-t8 {background-color: hsla(30,33%,26%,0.8); color:#e0e0e0;}
.bgch-org-t8:hover, .bgca-org-t8:hover {background-color: hsla(30,33%,36%,0.8); color:#f0f0f0;}
.bgc-yel-t8, .bgca-yel-t8 {background-color: hsla(60,33%,26%,0.8); color:#e0e0e0;}
.bgch-yel-t8:hover, .bgca-yel-t8:hover {background-color: hsla(60,33%,36%,0.8); color:#f0f0f0;}
.bgc-cha-t8, .bgca-cha-t8 {background-color: hsla(90,33%,26%,0.8); color:#e0e0e0;}
.bgch-cha-t8:hover, .bgca-cha-t8:hover {background-color: hsla(90,33%,36%,0.8); color:#f0f0f0;}
.bgc-grn-t8, .bgca-grn-t8 {background-color: hsla(120,33%,26%,0.8); color:#e0e0e0;}
.bgch-grn-t8:hover, .bgca-grn-t8:hover {background-color: hsla(120,33%,36%,0.8); color:#f0f0f0;}
.bgc-spr-t8, .bgca-spr-t8 {background-color: hsla(150,33%,26%,0.8); color:#e0e0e0;}
.bgch-spr-t8:hover, .bgca-spr-t8:hover {background-color: hsla(150,33%,36%,0.8); color:#f0f0f0;}
.bgc-cyn-t8, .bgca-cyn-t8 {background-color: hsla(180,33%,26%,0.8); color:#e0e0e0;}
.bgch-cyn-t8:hover, .bgca-cyn-t8:hover {background-color: hsla(180,33%,36%,0.8); color:#f0f0f0;}
.bgc-azu-t8, .bgca-azu-t8 {background-color: hsla(210,33%,26%,0.8); color:#e0e0e0;}
.bgch-azu-t8:hover, .bgca-azu-t8:hover {background-color: hsla(210,33%,36%,0.8); color:#f0f0f0;}
.bgc-blu-t8, .bgca-blu-t8 {background-color: hsla(240,33%,26%,0.8); color:#e0e0e0;}
.bgch-blu-t8:hover, .bgca-blu-t8:hover {background-color: hsla(240,33%,36%,0.8); color:#f0f0f0;}
.bgc-vio-t8, .bgca-vio-t8 {background-color: hsla(270,33%,26%,0.8); color:#e0e0e0;}
.bgch-vio-t8:hover, .bgca-vio-t8:hover {background-color: hsla(270,33%,36%,0.8); color:#f0f0f0;}
.bgc-mag-t8, .bgca-mag-t8 {background-color: hsla(300,33%,26%,0.8); color:#e0e0e0;}
.bgch-mag-t8:hover, .bgca-mag-t8:hover {background-color: hsla(300,33%,36%,0.8); color:#f0f0f0;}
.bgc-ros-t8, .bgca-ros-t8 {background-color: hsla(330,33%,26%,0.8); color:#e0e0e0;}
.bgch-ros-t8:hover, .bgca-ros-t8:hover {background-color: hsla(330,33%,36%,0.8); color:#f0f0f0;}

.bgc-whi-t8, .bgca-whi-t8 {background-color: hsla(0,0%,100%,0.8); color: #101010;}
.bgc-gry90-t8, .bgca-gry90-t8 {background-color: hsla(0,0%,90%,0.8); color:#101010;}
.bgc-gry80-t8, .bgca-gry80-t8 {background-color: hsla(0,0%,80%,0.8); color:#101010;}
.bgc-gry70-t8, .bgca-gry70-t8 {background-color: hsla(0,0%,78%,0.8); color:#101010;}
.bgc-gry60-t8, .bgca-gry60-t8 {background-color: hsla(0,0%,60%,0.8); color:#101010;}
.bgc-gry50-t8, .bgca-gry50-t8 {background-color: hsla(0,0%,50%,0.8); color:#101010;}
.bgc-gry40-t8, .bgca-gry40-t8 {background-color: hsla(0,0%,40%,0.8); color:#f0f0f0;}
.bgc-gry30-t8, .bgca-gry30-t8 {background-color: hsla(0,0%,30%,0.8); color:#f0f0f0;}
.bgc-gry20-t8, .bgca-gry20-t8 {background-color: hsla(0,0%,20%,0.8); color:#f0f0f0;}
.bgc-gry10-t8, .bgca-gry10-t8 {background-color: hsla(0,0%,10%,0.8); color:#f0f0f0;}
.bgc-blk-t8, .bgca-blk-t8 {background-color: hsla(0,0%,0%,0.8); color:#f0f0f0;}
